#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 376px;
  height: 666px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

#app .container-view {
  padding: 20px;
}

#app .app-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.app-items,
.app-items-selected {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
  padding: 0px 10px;
  border-radius: 10px;
}

.app-items-selected {
  background-color: #00bd82;
}

.app-items p,
.app-items-selected p {
  margin-left: 8px;
  font-weight: 700;
}
