.card-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 0px 0px 10px 0px;
  justify-content: space-between;
  user-select: none;
}

.card-container p {
  font-size: 16px;
  margin-left: 10%;
  width: 120px;
}

.icons-container {
  display: flex;
  align-items: center;
}

.missed-call,
.answered-call,
.voicemail-call,
.icons {
  font-size: 20px;
  margin-right: 10px;
  width: 30px;
}

.icons {
  cursor: pointer;
}

.voicemail-call {
  font-size: 30px;
  color: #5b5a5a;
}

.missed-call {
  color: #e41717;
}

.answered-call {
  color: #008000;
}

span {
  font-size: 14px;
  color: #a4a4a4;
  font-weight: 700;
  margin-bottom: 3%;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.time-container {
  display: flex;
  justify-content: flex-end;
  width: 65px;
}

.time-container p {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  color: #a4a4a4;
}
